
@{
    ViewData["Title"] = "CustomQuery";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    <h1>CustomQuery</h1>
    <div id="app">
        <p>{{url}}</p>
        <input style="width: 1000px" v-model="url" type="text" value="https://localhost:5001/api/CustomQuery?" />
        <button v-on:click="fillTable()">Refresh Table</button><br />
        <select v-model="selectedYear">
            <option disabled value="">Select a year</option>
            <option v-for="year in validYears">{{year}}</option>
        </select>
        <button v-on:click="addYearFilter()">Add Year Filter</button>

        <select v-model="selectedYear">
            <option disabled value="">Select a year</option>
            <option v-for="year in validYears">{{year}}</option>
        </select>
        <button v-on:click="addYearFilter()">Add Year Filter</button>
        <table>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Area Number</th>
                <th>Area Name</th>
                <th>Fish Caught</th>
                <th>System</th>
                <th>Region</th>
            </tr>
            <tr v-for="haul in customQueryResults">
                <td>{{haul["year"]}}</td>
                <td>{{haul["month"]}}</td>
                <td>{{haul["areaNumber"]}}</td>
                <td>{{haul["areaName"]}}</td>
                <td>{{haul["fishCaught"]}}</td>
                <td>{{haul["system"]}}</td>
                <td>{{haul["region"]}}</td>
            </tr>
        </table>

    </div>
</body>
</html>

<script>


    let vue = new Vue({
        el: "#app",
        data: {
            customQueryResults: [],
            url: "../api/CustomQuery?years=1964&regions=Coastal&months=1",
            validYears: [],
            validYearsURL: "../api/GetYears",
            validMonths: [],
            validMonthsURL: "../api/GetMonths"
        },
        methods: {
            fillTable: function () {
                
                this.$http.get(this.url)
                    .then(value => { return value.json(); })
                    .then(jsonValue => {
                        var jsonResults = [];
                        for (let key in jsonValue) {
                            jsonResults.push(jsonValue[key]);
                        }
                        this.customQueryResults = jsonResults;
                    })
            },

            getYears: function() {
                this.$http.get(this.validYearsURL)
                    .then(value => { return value.json(); })
                    .then(jsonValue => {
                        this.validYears = jsonValue;
                    })
            },

            getMonths: function() {
                this.$http.get(this.validMonthsURL)
                    .then(value => { return value.json(); })
                    .then(jsonValue => {
                        this.validMonths = jsonValue;
                    })
            }


        },
            mounted() {
                this.fillTable();
                this.getYears();
            }

    })
</script>

