
@{
    ViewData["Title"] = "CustomQuery";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    <h1>CustomQuery</h1>
    <div id="app">
        <span>Query Name: </span><input style="width: 700px" v-model="queryName" type="text" />
        <button v-on:click="saveQuery()">Save Query</button>
        <input style="width: 1000px" v-model="url" type="text" />
        <button v-on:click="fillTable()">Refresh Table</button><button v-on:click="resetURL()">Reset</button><br />
        <select v-model="selectedYear">
            <option selected disabled value="">Select a year</option>
            <option v-for="year in validYears">{{year}}</option>
        </select>
        <button v-on:click="addFilter('years', selectedYear)">Add Year Filter</button>

        <select v-model="selectedMonth">
            <option disabled value="">Select a month</option>
            <option v-for="month in validMonths" v-bind:value="month['monthNumber']">{{month['monthName']}}</option>
        </select>
        <button v-on:click="addFilter('months', selectedMonth)">Add Month Filter</button>

        <select v-model="selectedArea">
            <option disabled value="">Select an area</option>
            <option v-for="area in validAreas" v-bind:value="area['areaNumber']">{{area["areaNumber"]}} {{area["areaName"]}}</option>
        </select>
        <button v-on:click="addFilter('areaNumbers', selectedArea)">Add Area Filter</button>
        <br />

        <select v-model="selectedRegion">
            <option disabled value="">Select a region</option>
            <option v-for="region in validRegions">{{region}}</option>
        </select>
        <button v-on:click="addFilter('regions', selectedRegion)">Add Region Filter</button>

        <select v-model="selectedSystem">
            <option disabled value="">Select a system</option>
            <option v-for="system in validSystems">{{system}}</option>
        </select>
        <button v-on:click="addFilter('systems', selectedSystem)">Add System Filter</button>
        <br />

        <span>Haul greater than:</span> <input type="text" v-model="haulGreaterThan" />
        <span>Haul less than:</span> <input type="text" v-model="haulLessThan" />
        <span>Rows to return:</span> <input type="text" v-model="rows" />
        <br />
        <span>Group by:</span>
        <select v-model="selectedGroupBy">
            <option v-for="groupBy in validGroupBys">{{groupBy}}</option>
        </select>

        <span>Aggregate:</span> 
        <select v-model="selectedAggregate">
            <option>Average</option>
            <option>Sum</option>
        </select>

        <div v-if="selectedGroupBy == 'None'">
        <table>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Area Number</th>
                <th>Area Name</th>
                <th>Fish Caught</th>
                <th>System</th>
                <th>Region</th>
            </tr>
            <tr v-for="haul in customQueryResults">
                <td>{{haul["year"]}}</td>
                <td>{{haul["month"]}}</td>
                <td>{{haul["areaNumber"]}}</td>
                <td>{{haul["areaName"]}}</td>
                <td>{{haul["fishCaught"]}}</td>
                <td>{{haul["system"]}}</td>
                <td>{{haul["region"]}}</td>
            </tr>
        </table>
        </div>
        <div v-else>
            <table>
                <tr>
                    <th>Group Key</th>
                    <th>Fish Caught</th>
                </tr>
                <tr v-for="haul in customQueryResults">
                    <td>{{haul["groupKey"]}}</td>
                    <td>{{haul["fishCaught"]}}</td>
                </tr>
            </table>

        </div>

    </div>
</body>
</html>

<script>


    let vue = new Vue({
        el: "#app",
        data: {
            customQueryResults: [],

            baseURL: "../api/CustomQuery?",
            url: "../api/CustomQuery?",
            months: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],

            validYears: [],
            validYearsURL: "../api/GetYears",
            validMonths: [],
            validMonthsURL: "../api/GetMonths",
            validAreas: [],
            validAreasURL: "../api/GetAreas",
            validRegions: [],
            validRegionsURL: "../api/GetRegions",
            validSystems: [],
            validSystemsURL: "../api/GetSystems",
            validGroupBys: ["None", "Date", "Year", "Month", "Area", "System", "Region"],

            queryName: "",
            selectedRegion: null,
            selectedArea: null,
            selectedMonth: "Select A Month",
            selectedYear: null,
            selectedSystem: null,
            selectedAggregate: "Average",
            selectedGroupBy: "None",
            haulGreaterThan: 0,
            haulLessThan: 10000,
            rows: 1000
        },
        methods: {
            fillTable: function () {
                
                var url = this.buildCompleteURL();
                this.$http.get(url)
                    .then(value => { return value.json(); })
                    .then(jsonValue => {
                        var jsonResults = [];
                        for (let key in jsonValue) {
                            jsonResults.push(jsonValue[key]);
                        }
                        this.customQueryResults = jsonResults;
                    })
            },
            //I hate having all these different functions but I don't know how to do something like a C# out keyword in javascript.
            getYears: function() {
                this.$http.get(this.validYearsURL)
                    .then(value => { return value.json(); })
                    .then(jsonValue => {
                        this.validYears = jsonValue;
                    })
            },

            getMonths: function() {
                this.$http.get(this.validMonthsURL)
                    .then(value => { return value.json(); })
                    .then(jsonValue => {
                        this.validMonths = jsonValue;
                    })
            },

            getAreas: function () {
                this.$http.get(this.validAreasURL)
                    .then(value => { return value.json(); })
                    .then(jsonValue => {
                        this.validAreas = jsonValue;
                    })

            },

            getRegions: function () {
                this.$http.get(this.validRegionsURL)
                    .then(value => { return value.json(); })
                    .then(jsonValue => {
                        this.validRegions = jsonValue;
                    })
            },

            getSystems: function () {
                this.$http.get(this.validSystemsURL)
                    .then(value => { return value.json(); })
                    .then(jsonValue => {
                        this.validSystems = jsonValue;
                    })
            },

            addFilter: function(filterType, value) {
                this.url += filterType + "=" + value + "&";
                this.fillTable();

                //code taken from https://stackoverflow.com/questions/9539723/javascript-to-select-first-option-of-select-list
                selectTags = document.body.getElementsByTagName("select");

                for (var i = 0; i < selectTags.length; i++) {
                  
                  selectTags[i].selectedIndex = "0";
                }  
            },

            saveQuery: function () {
                var url = this.buildCompleteURL;
                var queryName = this.queryName;



            },

            resetURL: function () {
                this.url = this.baseURL;
            },

            buildCompleteURL: function () {
                //buttons to add filters that can have multiple values are fine but some
                //values should only appear once so this code adds all the values you can only have once to the url
                var url = this.url + "haulGreaterThan=" + this.haulGreaterThan + "&";
                url += "haulLessThan=" + this.haulLessThan + "&";
                url += "rows=" + this.rows + "&";
                url += "groupBy=" + this.selectedGroupBy + "&";
                if (this.selectedAggregate == "Average") {
                    url += "average=true&";
                }
                else {
                    url += "average=false&";
                }

                return url;
            }
        },
            mounted() {
                this.fillTable();
                this.getYears();
                this.getMonths();
                this.getAreas();
                this.getRegions();
                this.getSystems();
            }

    })
</script>

